h1 {
	font-size: 2rem;
	margin-bottom: 3rem;
}

.app {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.image-upload {
	border: 3px white;
	border-style: dashed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	position: relative;
	width: 20rem;
	height: 20rem;
}

button {
	margin-top: 2rem;
	width: 20rem;
}

.preview-img {
	position: absolute;
	inset: 0;
	object-fit: cover;
	width: 103%;
	height: 103%;
}

.summary {
	margin-top: 1rem;
	max-width: 70%;
}

.info-img {
	width: 15rem;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
